<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.shiftboard.schedulepro">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <queries>
        <intent>
            <action android:name="android.intent.action.VIEW" />

            <category android:name="android.intent.category.BROWSABLE" />

            <data android:scheme="https" />
        </intent>
    </queries>

    <application
        android:name=".App"
        android:allowBackup="true"
        android:fullBackupContent="@xml/backup_xml"
        android:icon="@mipmap/ic_launcher"
        android:label="${appLabel}"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.SchedulePro">
        <activity
            android:name=".content.profile.unavailability.UnavailabilityActivity"
            android:exported="false"
            android:label="@string/title_activity_main"
            android:theme="@style/Theme.SchedulePro" />
        <activity
            android:name=".activities.splash.SplashActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:noHistory="true"
            android:theme="@style/Theme.Splash">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.root.RootActivity"
            android:exported="false"
            android:screenOrientation="sensorPortrait"
            android:windowSoftInputMode="adjustResize|stateHidden" />
        <activity
            android:name=".activities.router.RouterActivity"
            android:exported="false"
            android:noHistory="true"
            android:theme="@style/Theme.Transparent" />
        <activity
            android:name=".activities.auth.AuthActivity"
            android:exported="false"
            android:screenOrientation="sensorPortrait"
            android:windowSoftInputMode="adjustPan|stateHidden" />

        <service
            android:name=".core.messaging.FcmService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <activity
            android:name="net.openid.appauth.RedirectUriReceiverActivity"
            android:exported="true"
            tools:node="replace">
            <intent-filter android:autoVerify="false">
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="com.shiftboard.schedulepro"
                    android:path="/oauth/redirect"
                    android:scheme="msauth" />
            </intent-filter>
        </activity>
    </application>

</manifest>